gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Arquivos de variáveis de ambiente
*.env

# Chaves privadas de contas de serviço (GCP/Firebase Admin)
*service-account*.json